<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>
		<%- include ../partials/nav.ejs %>

		<div class="jumbotron text-center">
			<div class="container">
				<img src="flag_color_logo_500x500.png" alt="" class="logo"/>
				<h1>This motor will work!</h1>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<% if(messages.phase) { %>
				<div class="bs-callout bs-callout-warning">
					<h4>Phase Motor Warning</h4>
					<p class="help-block"><%= messages.phase %></p>
				</div>
				<% } %>
			</div>
		</div>

		<div class="well">
			<h4>Collected Data</h4>
			<p>Shop Details</p>
			<ul>
				<li><strong>Shop Volts:</strong> <%= shopVolts %></li>
			</ul>
			<p>Motor Details</p>
			<ul>
				<li><strong>Brand:</strong> <%= brand %></li>
				<li><strong>Motor Volts:</strong> <%= motorVolts %></li>
				<li><strong>Motor Phase:</strong> <%= phase %></li>
				<li><strong>Motor RPM:</strong> <%= RPM %></li>
				<li><strong>Motor Power:</strong> <%= power %></li>
				<li><strong>Motor Torque:</strong> <%= torque %></li>
				<li><strong>Motor Amps:</strong> <%= amps %></li>
			</ul>
			<p>Gearbox Details</p>
			<ul>
				<li><strong>Gear Ratio:</strong> <%= gearRatio %></li>
				<li><strong>Gear Service Factor:</strong> <%= gearServiceFactor %></li>
				<li><strong>Gear Service Class:</strong> <%= gearServiceClass %></li>
			</ul>
		</div>

		<footer class="footer">
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
